.container {
  width: 100%;
  padding-top: 1%;
}

.form {
  display: flex;
  background: white;
}

.input {
  font-size: 18px;
  padding: .5rem .75rem;
  margin: .5rem auto;
  border-radius: 3px;
  border: 1px solid #9b9b9b;
  width: 100%;
}

.submitBtn {
  background: #323463;
  border-radius: 45px;
  width: 59px;
  height: 52px;
  margin-left: 1%;
}

.sendIcon {
  padding: 5px 5px 0 0;
  width: 30px;
}
