.container {
  display: block;
  margin: .25rem;
}

.practiceContainer{
  text-align: right;
}

.patientContainer{
  text-align: left;
}

.message {
  display: inline-block;
  padding: .45rem 1rem;
  border-radius: 23px;
  margin: 0;
  max-width: 70%;
  font-weight: 300;
}

.practiceMessage {
  color: white;
  background: #007bff;
  text-align: left;
}

.patientMessage {
  color: black;
  background: #dee1e2;
  text-align: left;
}
